button {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 5px;
  font-size: 1.7rem;  
  font-weight: 500;
  cursor: pointer;
  background-color:rgb(0,106,168);
  color: #ffffff;
  margin-bottom: 3rem;
}

@media(max-width:425px){
  button {
  padding-inline: 0.7rem;
  padding-block: 0.2rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  background-color:rgb(0,106,168);
  color: white;
  margin-top: 1rem;
}

}
@media(max-width:768px){
  button {
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border-radius: 5px;
  font-size: 1.2rem;
  background-color:rgb(0,106,168);
  color: white;
  margin-top: 1rem;
}

}
